$mainfont: #333333;
$mainColor: #09c;
$white-color:#ffffff;
$hover-color:  #fce38a;
$pcolor: #999999;
$line-color: #f38181;
$rate-bg: #95e1d3;
$gray-bg: #f8f8f8;
$footerFont: #cccccc;
$border-color:  #e5e5e5;
